@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: rgb(245, 245, 245);
position: fixed;
height: 70px;
width: 100%;
z-index: 100;
padding: 0 20px;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 40px;
    color:rgb(29, 153, 120);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigation{
max-width: 1100px;
width: 100%;
margin: 0 auto;

}
.navigation,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  
}

.nav_item  {
    column-gap: 25px;
}
.nav_item a{
    color:  rgb(29, 151, 153);
}
.nav_item a:hover{
    color: white;
}
.button{
    color: rgb(29, 151, 153);
    padding:  6px 24px;
    border: 2px solid #53c8b2;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active{
    transform: scale(0.98);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
 
  overflow: hidden;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.text-content {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.text-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

img {
    display: block;
}
.image-home{
    overflow: hidden;
    position: relative;
    border-radius: 0 0 0 50px; /* Rounded border on the left side */
    width: 50%; /* Set width to occupy 30% of the parent container */
    float: right; /* Float the container to the right */
    margin-right: 20px; 
  height: 70%;

}

.image-home img{
    width: 100%;
    display: block; /* Ensure the image is displayed as a block element */
    z-index: 1; /* Ensure the image is above other elements */
    height: 100%;
    object-fit: cover; /* Cover the entire container without distortion */

}
/* start now button*/
 .main-btn{
   
    padding:  6px 30px;
   
    border-radius: 6px;
    cursor: pointer;
 }
 .main-btn{
    transform: scale(1);
 }
.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  
    z-index: inherit;
   /* opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;*/
}

/*.home.show::before{
opacity: 1;
pointer-events: auto;
}*/

.main-btn{
    color: rgb(255, 255, 255);
    background-color:rgb(37, 133, 101);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border-radius: 10px;
    margin-top: 40px;
    transition: 0.7s ease;
    padding:  6px 30px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
}
.main-btn:hover{
    background-color: rgba(0, 0, 0, 0.158);
  
}


.form_container{
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:101 ;
    background: #fff;
    padding: 25px;
    border-radius:  12px;
    box-shadow:rgba(0,0,0,0.1);
    max-width: 430px;
    width:100%;
    /*
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
   */
   
}
/*
.home.show.form_container{
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%,-50%)scale(1.2);
  
}*/


.form_container a:hover{
    text-decoration: underline;
}
.form_closer{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
   
}


.form_container h2{
    font-size: 28px;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width:100%;
    height: 40px;

}

.input_box input{
    height: 100%;
    width:100%;
    border:none;
    padding: 0 30px;
    outline: none;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    color:#333 ;
  
    
}
/* el field hytlwn*/
.input_box input:focus{
    border-color: #53c8b2;
}

.input_box i{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
    left: 0;
    border-color: #53c8b2;
}
/* lma ados 3la el field  el icon httlwn*/ 
.input_box input:focus ~ i

{
   color: #53c8b2;
}

.form-link{
    margin-top: 14px;
    display: 14px;
    align-items: center;
    justify-content: space-between;
    position: center;
}
.form-link a{
    color: #53c8b2;
    font-size: 13px;
}

.form_container
.login-button{
background: #53c8b2;
margin-top: 30px;
width: 100%;
padding:10px 0 ;
border-radius: 10px;
}
.signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;

}
.form_container
.signup-button{
background: #53c8b2;
margin-top: 30px;
width: 100%;
padding:10px 0 ;
border-radius: 10px;
}
.signup_form{
    display: none;
}
.Philosophy {
background-color:whitesmoke;
    margin: auto;
    padding: 60px;
    
}

.title {
    text-align: center; 
    margin-bottom: 70px; 
    color: #75837e;
   
}

.philo {
    display: flex; 
}

.item-1,
.item-2,
.item-3 {
    float: left;
    padding: 5px 2px; 
    padding: 5px; 
    margin-bottom: 40px;
}
.item-1 img,
.item-2 img,
.item-3 img {
    width: 100%; 
    height: auto; 
    border-radius: 30px; 
}
.item-1,
.item-3 {
    width: 10%; 
    flex: 0 0 calc(15% - 5px);
}

.item-2 {
    flex: 0 0 calc(20% - 5px); 
    width: 40%;
}
.ph-text {
    flex: 1;
    margin-left: 40px; 

}

.ph-text p {
    font-size: 16px; 
    color: #333; 
    line-height: 1.5;
 }
.ph-text h3 {
    font-size: 20px; 
    color: #333; 
}


.footer {
    background-color: #198d66;
    padding: 20px;
    text-align: center;
}

.footer-text {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
   
}


.icon {
    font-size: 24px;
    text-align: center;
}

.icon a {
    color: #ffffff;
}

.footer p {
    color: #ffffff;
}

.footer h5 {
    font-size: 30px; 
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 12px;
}

@font-face {
    font-family: 'CustomFont';
    src: url('path-to-your-font.woff2') format('woff2'),
         url('path-to-your-font.woff') format('woff');
}
.card{
    width:20.25em;
    padding:30px;
    margin:50px;

}
.info{
    color:rgb(29, 153, 120);
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
text-align: center;
}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.icons{
    margin-left: 90px;
}

/*
div h4 {
    color: rgb(29, 153, 120);
    font-size: 19px; 
    font-weight: bold; 
}*/
div p {
    color: black; 
    font-size: 15px; 

}
